header {
  padding: 10px;
  background-color: #344146;
  color: #fafafa;
  border-bottom: 5px solid #83d6de;

  h1 {
    font-family: 'Yesteryear', cursive;
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
    padding-left: 10px;
  }
}
