@import url('https://fonts.googleapis.com/css2?family=Yesteryear&family=Pacifico&family=Permanent+Marker&family=Sacramento&family=Itim&family=Kristi&display=swap');

body {
  margin: 0;
  color: #02000d;
  background-color: #95a5a6;
}
